@import '../styles/vars';

navbar {
  background-color: $bgColorDarker;

  .nav-links {
    display: flex;
    flex-direction: column;

    @media (min-width: $screen-xsm) {
      flex-direction: row;
    }

    .link-wrapper {
      font-size: 1rem;
      padding: 0.5rem 2rem;

      @media (min-width: $screen-xsm) {
        padding: 1rem 3rem;

        border-right: solid 1px grey;
        &:last-child {
          border-right: none;
        }
      }
    }

    a,
    a:visited {
      color: $secondaryText;
      text-decoration: none;
    };

    .link {
      text-transform: uppercase;
      font-weight: bold;
    }
  }
}
